<form method="POST" action="/animals/{{name}}?_method=put">
  Animal Name:{{name}}
  Animal Weight:
  <input type="text" name="weight" value="{{weight}}">
  <input type="submit" value="Submit">
</form>